# This workflow will build a Swift project

name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Build
      run: |
        xcodebuild -project mARC.xcodeproj \
          -scheme mARC \
          -destination 'platform=macOS' \
          -configuration Debug \
          CODE_SIGNING_ALLOWED=NO \
          build
